body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1885px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:66px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:800px;
  height:66px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:10px;
  width:20px;
  height:20px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:19px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:11px;
  width:131px;
  height:19px;
  color:#000000;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:127px;
  word-wrap:break-word;
}
#u408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:13px;
  width:15px;
  height:15px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:800px;
  height:600px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:38px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:36px;
  width:158px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  word-wrap:break-word;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:38px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:38px;
  width:92px;
  height:38px;
  color:#CCCCCC;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:88px;
  word-wrap:break-word;
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  height:513px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:86px;
  width:784px;
  height:513px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:248px;
  width:780px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:43px;
  width:28px;
  height:28px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:43px;
  width:26px;
  height:26px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:52px;
  width:226px;
  height:143px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:62px;
  width:114px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:110px;
  word-wrap:break-word;
}
#u426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:106px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:205px;
  width:300px;
  height:106px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:40px;
  width:32px;
  height:32px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:14px;
  width:28px;
  height:28px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:87px;
  width:30px;
  height:30px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:87px;
  width:30px;
  height:30px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:87px;
  width:30px;
  height:30px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:87px;
  width:30px;
  height:30px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:87px;
  width:30px;
  height:30px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:2px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:129px;
  width:170px;
  height:1px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:122px;
  width:15px;
  height:15px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:143px;
  width:94px;
  height:35px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:143px;
  width:94px;
  height:35px;
  color:#CCCCCC;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:311px;
  width:32px;
  height:32px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:353px;
  width:226px;
  height:143px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:376px;
  width:114px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:110px;
  word-wrap:break-word;
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:2px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:413px;
  width:170px;
  height:1px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:406px;
  width:15px;
  height:15px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:431px;
  width:94px;
  height:35px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:431px;
  width:94px;
  height:35px;
  color:#CCCCCC;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:106px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:506px;
  width:300px;
  height:106px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:16px;
  width:26px;
  height:26px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:52px;
  width:226px;
  height:143px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:26px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:68px;
  width:114px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:110px;
  word-wrap:break-word;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:101px;
  width:30px;
  height:30px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:101px;
  width:30px;
  height:30px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:1315px;
  top:101px;
  width:30px;
  height:30px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:101px;
  width:30px;
  height:30px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:1385px;
  top:101px;
  width:30px;
  height:30px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:1239px;
  top:143px;
  width:94px;
  height:35px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:1336px;
  top:143px;
  width:94px;
  height:35px;
  color:#CCCCCC;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:126px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:209px;
  width:300px;
  height:126px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:296px;
  word-wrap:break-word;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:99px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:345px;
  width:89px;
  height:99px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:99px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:345px;
  width:89px;
  height:99px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:25px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:382px;
  width:44px;
  height:25px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:99px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:345px;
  width:89px;
  height:99px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:85px;
  word-wrap:break-word;
}
#u496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:1503px;
  top:348px;
  width:15px;
  height:15px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:65px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:454px;
  width:300px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:37px;
  width:40px;
  height:40px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:1585px;
  top:16px;
  width:40px;
  height:40px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:1585px;
  top:61px;
  width:300px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:1847px;
  top:65px;
  width:25px;
  height:25px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
