body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:601px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:800px;
  height:600px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:584px;
  width:10px;
  height:10px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:584px;
  width:10px;
  height:10px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:584px;
  width:10px;
  height:10px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:10px;
  width:300px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:296px;
  word-wrap:break-word;
}
